@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  font-family: 'Open Sans', sans-serif;
}

.avatar {
  border-radius: 50%; 
  position: absolute;
	top: 80px;
	left: 0;

}  


body{
  padding: 0;
  margin: 0;
}

/*Nav Bar*/

#toggleMenu {
    display: none;
}

header {
  height: 50px;
  background: #000;
  color: #fff;
  padding: 0 .5rem 0 1rem;
}

header .logo{
  line-height: 50px;
  font-weight: bold;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li{
  display: inline;
}

nav ul li a,
nav ul li a:link,
nav ul li a:visited{
  display: inline-block;
  padding: 0 .5rem;
  color: #fff;
  line-height: 50px;
  text-decoration: none;
}

nav ul li a:hover{
  background: #444;
}

/* Responsive Page Code*/

 main {
    /* Use a margin to center the page */
    margin: 0 auto;
  
    /* Set the width of the content */
    width: 960px;
  
    /* For smaller screens to not exceed the max screen width */
    max-width: 100%;
  }

  @media only screen and (max-width: 960px)  {

    header {
      position: relative;
    }
    
    nav {
        position: absolute;
        display: none;
        background: #000;
        top: 50px;
        left: 0;
        right: 0;
      }
    
  
    nav ul li a,
    nav ul li a:link,
    nav ul li a:visited{
      display: block;
      border-bottom: 1px solid #777;
    }
    main {
        max-width: 90%;
    }

    #toggleMenu {
        display: block;
        float: right;
        line-height: 50px;
      }
    
  }

  /* Resume HTML Styling - Top of Page*/
  body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    
}

h1{
    text-align: center;
    text-decoration: underline;
  
}

h2 {
  padding-left: 20%;
  align-content: center;
  text-align: center;
}  


h3{
  text-align: center;
}

h4{
  text-align: center;
  padding: 0px;
}


h6{
    text-align: center;
    padding-bottom: 0%;
   }

.title{
  text-align: center;
  
  }
  
  p .talent{
      text-align: justify; 
  }
  
  .links{
      text-align: center;
  }


  /*Competencies*/

  .competencies{
      text-align: center;
  }

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.item {
  justify-content: left;
}


/*Certifications*/

.box1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.box2 { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  
}
.box3 {
  display: flex;
  justify-content: space-between;
}
.box4 {
  display: flex;
  justify-content: space-between;
}
.box5 {
  display: flex;
  justify-content: space-between;
}



/*Professional Experience*/

p .fend{
  justify-content: space-evenly;
}

/*Key Contributions*/

.contributions{
  text-align: center;
}

.container-3 {
display: flex;
flex-direction: row;
justify-content: center;

}

.item {
justify-content: left;
}

/*Education*/
.boxe1{
  display: flex;
  justify-content: space-between;
}

.boxe2{
  display: flex;
  justify-content: space-between;
}

.boxe3{
  display: flex;
  justify-content: space-between;
}












